
<launch>

	

	<param name="robot_description" textfile="/home/olly/proj_ws/src/alpha_urdf/src/alpha-15.xml" />
	

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />



	<node type="rviz" name="rviz" pkg="rviz" args="-d /home/olly/default.rviz" />

</launch>
